* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
textarea,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.btn-active:hover {
  background-color: beige;
  color: grey;
  transition: .5s;

}

/*index html*/


/*carrito html*/
.carrito-titulo{
  color: whitesmoke;
  
}
.img-carrito{
  width: 5rem;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.5);


}

/*footer*/
.icon {
  color: black;

}

.icon:hover {
  color: grey;
}

.grupo-c{
  height: 25rem;
}