*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,p ,a ,textarea, ul, li{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}
.icon{
  color: black;
}
/*
(x)body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f5f5f5;
  color: #eeececa9;
  margin: 0;
  padding: 20px;
}

(x)header {
  background-color: #8b0000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

(x)h1 {
  color: #fff;
  margin-bottom: 20px;
}

(x)main {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

(x).tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

(x).tarjeta {
  flex: 10%;
  margin: 20px;
  padding: 20px;
  background-color: #531d1dce;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

(x).tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

(x).tarjeta strong {
  color: #8b0000;
}

(x)#carrito-container {
  max-width: calc(100% - 40px);
  margin: 20px auto 0;
  padding: 20px;
  background-color: #531d1dce;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

(x)button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

(x)button:hover {
  background-color: #ff6347;
}

(x)#total-container {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #531d1dce;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

(x)#total {
  font-weight: bold;
}

*/

