body {
  font-family: Times New Roman, serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5c2d28;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: smokewhite;
  margin-bottom: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.marca-vinos {
  text-align: center;
  margin-bottom: 20px;
}

.marca-vinos h2 {
  color: #5c2d28;
  font-size: 24px;
}

.lista-vinos {
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.tarjeta {
  background-color: #eec4b8;
  margin: 0 10px 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.tarjeta img {
  display: block;
  margin: 0 auto;
  width: 25%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

.tarjeta strong {
  color: #5c2d28;
}

.botones-cantidad {
  margin-top: 10px;
}

.botones-cantidad button {
  background-color: #8c3a3a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.carrito {
  background-color: #dfe76ae1;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.derechosReservados-pie {
  text-align: center;
  background-color: #5c2d28;
  color: white;
  padding: 20px 0;
}

.derechosReservados-pie p {
  max-width: 800px;
  margin: 0 auto;
}